<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVE Detail</title>
    <link rel="stylesheet" href="/detail.css">
</head>
<body>
    <h1>CVE Detail</h1>

    <% if (cve_details) { %>
        <h2><%= cve_details.cve_name%></h2> <!-- Change here -->    
        <h3>Description</h3>
        <p><%= cve_details.description %></p> <!-- Change here -->

        <h3>CVSS V2 Metrics</h3>
        <div class="name">
            <h4>Severity: <span><%= cve_details.severity %></span></h4> <!-- Change here -->
            <h4>Score: <span><%= cve_details.score %></span></h4> <!-- Change here -->
        </div>
        <h4>Vector String: <span><%= cve_details.vector_string %></span></h4> <!-- Change here -->
        <table>
            <thead>
                <tr>
                    <th>Access Vector</th>
                    <th>Access Complexity</th>
                    <th>Authentication</th>
                    <th>Confidentiality Impact</th>
                    <th>Integrity Impact</th>
                    <th>Availability Impact</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= cve_details.access_vector %></td> <!-- Change here -->
                    <td><%= cve_details.access_complexity %></td> <!-- Change here -->
                    <td><%= cve_details.authentication %></td> <!-- Change here -->
                    <td><%= cve_details.confidentiality_impact %></td> <!-- Change here -->
                    <td><%= cve_details.integrity_impact %></td> <!-- Change here -->
                    <td><%= cve_details.availability_impact %></td> <!-- Change here -->
                </tr>
            </tbody>
        </table>

        <h3>Scores</h3>
        <h4>Exploitability Score: <span><%= cve_details.exploitability_score %></span></h4> <!-- Change here -->
        <h4>Impact Score: <span><%= cve_details.impact_score %></span></h4> <!-- Change here -->

        <h2>Criteria</h2>
        <table>
            <thead>
                <tr>
                    <th>Criteria ID</th>
                    <th>Vulnerable</th>
                    <th>Match Criteria ID</th>
                </tr>
            </thead>
            <tbody>
                <% criteria.forEach(criterion => { %>
                    <tr>
                        <td><%= criterion.criteria %></td>
                        <td><%= criterion.vulnerable %></td>
                        <td><%= criterion.match_criteria_id %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No details found for this CVE ID.</p>
    <% } %>
</body>
</html>
