<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVE Records</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>CVE Records</h1>
    <div class="controls">
        <div class="search-form">
            <form id="search" action="/cveID/search" method="GET">
                <input type="text" id="searchInput" name="searchInput" placeholder="Search CVE ID">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="pagination-form">
            <form id="pagination" action="/cves/pagination" method="GET">
                <button id="prevPageBtn" type="submit" name="Pagetype" value="Previous">Previous</button>
                <!-- <span id="currentPage">Pages</span> -->
                <button id="nextPageBtn" type="submit" name="Pagetype" value="Next">Next</button>
            </form>
        </div>
        <div class="records-per-page">
            <form id="recordsPerPage" action="/cves/records-per-page" method="GET">
                <label for="recordsDropdown">Records per page:</label>
                <div class="dropdown">
                    <button class="dropbtn" type="submit" name="recordsPerPage" value="20">20</button>
                    <button class="dropbtn" type="submit" name="recordsPerPage" value="50">50</button>
                    <button class="dropbtn" type="submit" name="recordsPerPage" value="100">100</button>
                </div>
            </form>
        </div>
        
        <div class="total-records">
            Total records: <span id="totalRecords"><%= length %></span>
        </div>
    </div>

    <table id="cveTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>CVE ID</th>
                <th>CVE Name</th>
                <th>Published Date</th>
                <th>Last Modified Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="cveTableBody">
            <% data.forEach(cve => { %>
                <tr>
                    <td><%= cve.id %></td>
                    <td>
                        <form action="/cveId/data" method="GET">
                            <input type="hidden" name="cve_id" value="<%= cve.cve_id %>">
                            <button type="submit"><%= cve.cve_id %></button>
                        </form>
                    </td>
                    <td><%= cve.cve_name %></td>
                    <td><%= cve.published_date.toLocaleDateString(undefined, { month: 'short', day: 'numeric', year: 'numeric' })  %></td>
                    <td><%= cve.last_modified_date.toLocaleDateString(undefined, { month: 'short', day: 'numeric', year: 'numeric' }) %></td>
                    <td><%= cve.status %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

</body>
</html>
